html, body {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a:hover {
	text-decoration: none;
}
.custom-menu-items#navbarNav .nav-link {
	color: #fff;
}	
.custom-header {
	height: 100%;
	width: 100%;
	background-color: #61a1e0;
	position: relative;
}
.highlights-section {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.highlights-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    padding-top: 15px;
    margin-bottom: 0;
}
.highlights-description {
    color: #fff;
    font-size: 30px;
}
.custom-navbar {
    background-color: #3c3c3c;
}
.navbar-brand {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
}
.navbar-brand:hover {
	color: #e0b500!important;
}
.custom-navbar-nav {
	font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
}
.custom-navbar-nav .nav-link:hover {
	color: #e0b500!important;
}
.portfolio-wrapper img {
	width: 100px;
}
.portfolio-section {
	height: 100%;
}
.portfolio-section-wrapper, .about-wrapper {
	padding: 70px 0;
}
.portfolio-wrapper a {
	cursor: pointer;
	display: block;
	margin: 15px 0;
	padding: 15px;
	width: 100%;
}
.portfolio-content a {
	position: relative;
	background-color: #dadada;
}
.portfolio-content a:after {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "View More";
    font-size: 30px;
    background-color: #145392;
    padding-top: 63px;
    font-weight: 700;
    color: #fff;
}
.portfolio-wrapper a:hover:after {
	opacity: 0.95;
	visibility: visible;
}
.portfolio-content p {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
.custom-row {
	margin: 0 -30px;
}
.portfolio-section-wrapper h2, .contact-wrapper h2 {
	font-size: 45px;
	font-weight: 700;
	text-transform: uppercase;
	color: #3c3c3c;
}
.about-section {
	background-color: #61a1e0;
	color: #fff;
}
.about-wrapper h2 {
	font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.about-wrapper {
	font-size: 18px;
}
.contact-section {
	height: 100%;
}
.contact-wrapper {
	padding: 70px 200px;
}
.contact-wrapper label {
	font-size: 20px;
	color: #717171;
}
.contact-wrapper button {
	padding: 8px 35px;
	float: right;
	background-color: #5084b7;
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 19px;
}
.custom-scroll-down i {
	padding: 8px 35px;
	font-size: 20px;
	color: #fff;
}